.container {
  /* 1140px - convention for max-width on the viewport */
  max-width: 120rem;
  margin: 0 auto;
  padding: 0.25rem 3.2rem;
  /* background-color: blue; */
}

.grid {
  display: grid;
  column-gap: 1.8rem;
  row-gap: 4.8rem;
  /* margin-bottom: 9.6rem; */
  align-items: flex-start;
}

.grid_3_cols {
  grid-template-columns: repeat(3, 1fr);
  /* background-color: burlywood; */
  background-color: var(--accent-grey-color);
  font-size: 1.8rem;
}

.footer_strip {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.price_image,
.great_value {
  display: inline-block;
  height: 8rem;
  /* width: 50%; */
}

/* MOBILE SCREENS BREAKPOINT - BELOW 544px */

@media (max-width: 34em) {
  .price_image,
  .great_value {
    display: inline-block;
    height: 4rem;
    /* width: 50%; */
  }
  .grid_3_cols {
    font-size: 1.2rem;
  }
  .footer_strip{
    display: inherit;
  }
}
